@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.css-inswfa{
  padding-top: 90px !important;
}

p{
  margin-bottom: 0px !important;
}
/*Sidebars*/
.css-892zhy , .css-8rydbv {
  background-color: #38487c !important; /*#38487c*/
}

.css-1kp8h9s {
  color: white !important;
}

.css-15lwasx:hover p , .css-15lwasx:hover svg{
  color: white !important;  
}

.css-18swba:hover p , .css-18swba:hover svg  , .css-1ez5qc5{
  color: white !important;
}

.css-v8rad5 {
  background-color: white !important;
}

.css-89x3gd {
  padding : 0px !important;
}

.css-1d2ugx5 {
  padding-top: 0 !important;
}

.css-1ilq2jg{
  margin: 0px 10px !important;
}
/* Login Page */
.css-kyaamw {
  background: url("../img/login-bg.jpeg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 0px !important;
}

.css-1rkd2xd{
  background: white !important;
  height: 100vh !important;
}

.custom-table{
  margin-top: 90px;
}

.add-container{
  margin-top: 90px;
}

.add-card{
  border-radius: 15px;
}

/* Custom CSS for SweetAlert */
.custom-swal-popup {
  width: 700px !important; /* Set the width of the popup */
  font-size: 1.5rem !important; /* Increase the font size */
}

.custom-swal-title {
  font-size: 2.5rem !important; /* Increase the title font size */
}

.custom-swal-content {
  font-size: 2rem !important; /* Increase the content font size */
}

.custom-swal-confirm-button {
  font-size: 1.2rem !important; /* Increase the button font size */
  padding: 10px 20px !important; /* Increase the button padding */
}